<!DOCTYPE html>

<html>
<head>
    <title>PBI</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet"type="text/css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <div class="row">
        <div class="pbi">
            PBI
        </div>
        <div class="todo">
            TO DO
        </div>
        <div class="inprog">
            IN PROGRESS
        </div>
        <div class="done">
            DONE
        </div>
    </div>

    <div class="row">
        <div class="pbi">
            <a href="#">
                <p>Text Content #1</p>
            </a>
        </div>
        <div class="todo">
            <a href="#">
                <p>Text Content #2</p>
            </a>
        </div>
        <div class="inprog">
            <a href="#">
                <p>Text Content #3</p>
            </a>
        </div>
        <div class="done">
            <a href="#">
                <p>Text Content #4</p>
            </a>
        </div>
    </div>​

    {{>footer}}
</body>
</html>